.menu {
    display: inline-block;
    width: 50px;
    text-align: center;
    border-radius: 80%;

    .line-wrap,
    .line {
        width: 18px;
    }

    .line-wrap {
        height: 12px;
        -webkit-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        margin: auto;

        .line {
            height: 2px;
            -webkit-transition: all;
            transition: all;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            background-color: #fff;

        }

        .center {
            margin: 3px 0;
        }
    }

    .toggled.line-wrap {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

        .line.top {
            width: 12px;
            transform: translateX(8px) translateY(1px) rotate(45deg);
            -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
        }

        .line.bottom {
            width: 12px;
            transform: translateX(8px) translateY(-1px) rotate(-45deg);
            -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
        }
    }
}

.side-nav {
    transform: translateX(-100%);
    transition: .3s ease-in;
    width: 250px !important;
    top: 56px;
    z-index: 1000;

    @media only screen and (min-width: 601px) {
        & {
            top: 64px;
        }
    }

    &.active {
        transform: translateX(0);
        transition: .3s ease-in;
    }
}

.menu-bar {
    height: 10000px;
    position: absolute;
    width: 100%;
    opacity: 1;
    z-index: 100;

    &.closed {
        height: 0;
    }
}
