.background-home {
    background-image: url('http://lvivforyou.com/units/institutions/files/16/1351781022469_original.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 250px;
}
